V1 Requirements: Update add functionality
(x) When you access the application, focus on the #addTodoInputText
(x) Remove the Add button and setup an event listener for adding todos when a user presses the enter key on #addTodoInputText
(x) Add a placeholder "Add Something to Your Todo List Here"
(x) Make #addTodoInputText wider and add padding-left to it
(x) If the value of the input is empty and enter is pressed, do nothing

V2 Requirements: Update display functionality
(x) Create the html of where the todo list items will be displayed
(x) If the todo list items have one or more todos, display #todoListView, else hide it
(x) Create a way to store and access your todo list to local storage
(x) Update todolist.addTodo so that it stores the todos into local storage
(x) When you access the application, show all the todos that were stored in local storage.

V3 Requirements: Update toggle todo functionality
